*{
    margin: 0;
    padding: 0;
}
:root{
    --colorAmarilloOsc: #A46B0E;
    --colorAmarillo: #F59B0B;
    --colorRojo: #DA3E44;
    --colorVerde: #106D14;
    --colorAzul: #1D3883;
    --colorAzulOsc: #03143A;
    --tHeader: "Irish Grover", system-ui;
    --tSubtitulo: "Roboto Condensed", sans-serif;
    --tForm: "Inria Serif", serif;
    --tParr: "Inter", sans-serif;
    --tCamis: "Roboto", sans-serif;
}
a{
     text-decoration: none;
     font-family: var(--tHeader)
    }
img{
    max-width: 100%;
}



/* HEADER */
header div{
    display: flex;
    justify-content: center;
    gap: 14rem;
    align-items: center;
    padding: 30px;
}
header div > ul{
    display: flex;
    list-style: none;
    gap: 40px;
}
header div > ul li{
    padding: 8px 28px 0;
    background-color: var(--colorAmarillo);
}
header a{
    color: black;

}



/* INICIO SESION */
#inic {
    background: linear-gradient(135deg,#DA3E44, #1D3883);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.sesion {
    background-color: rgba(0, 0, 0, 0.655);
    border-radius: 10px;
    padding: 30px;
    text-align: center;
}

.logo img {
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
}

.formu div {
    margin-bottom: 15px;
    text-align: left;
}

.formu input {
    width: 100%;
    padding: 10px;
}

.formu input::placeholder {
    color: #aaa;
}

.enviar {
    background-color: var(--colorRojo);
    color: white;
}

.enviar:hover {
    background-color: var(--colorAmarilloOsc);
}











/* PAGINA INICIO */
#ini section{
    display: inline-block;
}
#comentarios{
    margin: 2rem 0 0 11rem;
    width: 40%;
}
#comentarios h1{
    font-size: 40px;
    color: var(--colorAzulOsc);
}
.comen article{
        border: 2px solid;
        display: flex;
        justify-content: space-between;
        padding: 10px;
}
.comen article p{
    margin-left: 20px;
    align-content: center;
    width: 60%;
    font-size: 18px;
}
.bot{
    display: flex;
    justify-content: end;
    width: 20%;
}
.bot img{
    width: 65%;
}
.bot img:first-child:hover {
    content: url("./imagenes/Cosas/cora2.png"); 
    width: 65%;
}
.bot img:nth-child(2):hover {
    content: url("./imagenes/Cosas/dis2.png"); 
    width: 65%;
}

#partidos{
    color: var(--colorVerde);
    margin: 0 0 0 10rem;
}
.part{
    display: flex;
    justify-content: center;
    border: 1px solid;
}
.part > p{
    align-content: center;
}









/* CLUBS */
#cl {
    display: flex;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
}

#cInfo {
    padding: 20px;
    width: 56%;
    margin-top: 70px;
}

#cInfo hr {
    border: 1px solid #ccc;
    margin: 20px 0;
}

#cInfo div {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #0077cc;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    color: white;
}

#cInfo div img {
    width: 80px;
    height: 80px;
    border-radius: 20%;
}

#cInfo div p {
    font-size: 16px;
    line-height: 1.5;
}

#op {
    width: 30%;
}

#op h2 {
    text-align: center;
    margin-bottom: 20px;
}

#op > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#op > div div {
    text-align: center;
    background-color: var(--colorRojo);
    padding: 37px;
}

#op input.escribir {
    width: 90%;
    padding: 10px;
    margin-bottom: 6px;
}

#op input.subm {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#op input.subm:hover {
    background-color:var(--colorAmarillo);
}

#slider {
    display: flex;
    width: 100%;
    height: 68vh;
    margin-top: 4%;
}

#slider .container {
    width: 100%;
    display: flex;
    justify-content: center;
}

#slider .container img {
    max-width: 100%;
    max-height: 100%;
    transition: opacity 0.5s ease-in-out;
}






/* LIGAS */
#ligas section{
    display: inline-block;
}
#lig {
        justify-content: space-between;
        gap: 40px;
        width: 80%;
}
details{
    text-align: -webkit-center;
    background-color: var(--colorRojo);
    margin-left: 44vh;
}
#lig > img{
    width: 8%;
    margin-top: 20px;
}

#lig .tab {
    padding: 20px;
    width: 45%;
    text-align: center;
}

#lig .table {
    width: 100%;
    background-color: var(--colorAzul);
    padding: 4vh;
}

#lig .table th, .table td {
    padding: 8px;
}

#lig .table th {
    background-color: #f4f4f4;
    font-weight: bold;
}
#lig .table tbody {
    background-color: white;
}

#lig .table tr:nth-child(even) {
    background-color: white;
}

#lig .table tr:hover {
    background-color: #e0e0e0;
}


#stats{
    max-width: 46%;
    margin: 34px 0px 0px 98px;
    padding: 20px;
    text-align: center;
}

.estadisticas {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 14px;
}

.jug {
    background-color: #ffffff;
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
    padding: 15px;
    text-align: left;
    transition: transform 0.3s ease;
}

.jug:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.jug h2 {
    color: var(--colorAmarilloOsc);
    margin-bottom: 10px;
    text-align: center;
}

.jug p {
    font-size: 1rem;
    margin-bottom: 8px;
}

.jug p strong {
    color: #333;
}

#rank {
    font-family: Arial, sans-serif;
    padding: 20px;
    margin: 0 auto;
    max-width: 34%;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#rank h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#rank .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 1rem;
    color: #333;
}

#rank .table thead th {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    border: 1px solid #ddd;
    text-transform: uppercase;
}

#rank .table tbody tr {
    background-color:white;
    border-bottom: 1px solid #ddd;
}

#rank .table tbody tr:nth-child(even) {
    background-color: white; /
}

#rank .table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    font-size: 0.95rem;
}

#rank .table tbody tr:hover {
    background-color: #d61111;
    transform: scale(1.01);
    transition: all 0.3s ease;
}




/* CAMISETAS */

#camis{
    display: flex;
    justify-content: space-evenly;
    margin: 0px 3rem 0px 7rem;
    gap: 18px;
}

.esc img{
    margin: 4% 0% 4% 36%;
    width: 26%;
}

.mini{
    text-align: center;
    padding: 4%;
}

.camiText {
    display: flex;
    margin: 18px 56px 18px 56px;
    justify-content: center;
}
.lali hr{
    border-color: var(--colorRojo);
}

.camiText h2{
    display: flex;
    align-items: center;
    text-decoration: underline;
    font-family: var(--tCamis);
    font-size: 29px; 
}

.camiText img{
    width: 64%;
}

#camis > .lali{
    border: 2px solid var(--colorRojo);
}

#camis > .prem{
    border: 2px solid var(--colorAzulOsc);
}

.prem hr{
    border-color: var(--colorAzulOsc);
}

#camis > .ser{
    border: 2px solid var(--colorAzul);
}

.mini p{
    font-family: var(--tParr);
}

.ser hr{
    border-color: var(--colorAzul);
}

#formu{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}
#formu div h2{
    margin-bottom: 2%;
    font-family: var(--tSubtitulo);
    font-size: 38px;
}
#formu form .rell {
    margin: 20px 0px 20px 0px;
    padding: 8px 25rem 8px 8px;
    border-radius: 10px;
    font-family: var(--tForm);
    font-size: 26px;

}
#formu .subm{
    background-color: white;
    padding: 8px 38px 8px 38px;
    color: var(--colorVerde);
    border-radius: 8px;
    font-family: var(--tForm);
    font-size: 26px;
}



/* MERCADO */
#merc{
    background-color: var(--colorAmarilloOsc);
    color: white;
    text-align: center;
    padding: 13px;
}
.titulo {
    background-color: var(--colorRojo); 
    color: white;
    padding: 10px;
    margin: 20px 0;
    text-align: center;
    border-radius: 5px;
}
  
.trans {
display: flex;
flex-direction: column;
gap: 15px;
}

.transJug {
background-color: white;
padding: 15px;
display: flex;
align-items: center;
border-radius: 5px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.transJug img{
width: 11%;
margin-right: 20px;
}

.transInfo {
font-size: 24px;
}

.transInfo img {
border-radius: 50%;
margin-right: 15px;
}

.rumores {
list-style: none;
padding: 0;
}

.rumores li {
background-color: white;
padding: 10px 15px;
margin-bottom: 10px;
border-radius: 5px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.rumores span {
float: right;
font-size: 12px;
background-color: var(--colorRojo);
color: white;
padding: 2px 5px;
border-radius: 3px;
}

.tops {
list-style: decimal inside;
background-color: white;
padding: 15px;
border-radius: 5px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.tops li {
margin-bottom: 10px;
}



/* FOOTER */
footer{
    margin: 4rem;
}

footer > div{
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 28px;
}

footer > div > div{
    display: flex;
    background-color: var(--colorRojo);
    border-radius: 4px;
    padding: 8px 30px 8px 30px;
    align-items: center;
}

footer > div > div p{
    padding: 0 16px 0 0;
    color: var(--colorAzul);

}













/* ===== RESPONSIVE PARA 992px ===== */
@media (max-width: 992px) {
    /* HEADER */
    header div {
        flex-direction: column;
        gap: 20px;
    }
    header div > ul {
        flex-direction: column;
        gap: 10px;
    }
    header div > ul li {
        padding: 8px 0;
        text-align: center;
    }



    /*INICIO*/
    #comentarios {
        width: 100%; 
        margin: 2rem auto; 
    }

    #comentarios h1 {
        font-size: 36px; 
        text-align: center;
    }

    .comen article {
        flex-direction: column; 
        align-items: center;
        padding: 16px;
    }

    .comen article p {
        margin: 10px 0;
        width: 100%; 
        font-size: 16px; 
        text-align: center;
    }

    .bot {
        justify-content: center;
    }

    .bot img {
        width: 20%; 
        margin: 0 8px;
    }

    #partidos {
        margin: 0 auto; 
        text-align: center;
        width: 100%;
    }

    .part {
        padding: 10px;
    }

    .part div {
        flex: 1 1 40%; 
        margin: 10px 0;
    }

    .part > p {
        flex: 1 1 100%;
        margin: 10px 0;
    }



    /* LIGAS */
    #lig {
        width: 90%;
        gap: 20px; 
        flex-direction: column; 
    }

    details {
        margin-left: 20%;
        margin-right: 13%;
    }

    .tab {
        width: 100%;
        padding: 10px;
    }

    #stats {
        max-width: 90%;
        margin: 20px auto; 
    }

    .estadisticas {
        gap: 15px; 
    }

    .jug {
        width: 45%; 
    }

    #rank {
        max-width: 90%;
        padding: 15px;
        margin-left: 14%;
    }

    #rank h2 {
        font-size: 1.8rem; 
    }

    #rank .table td, #rank .table th {
        font-size: 0.9rem; 
        padding: 8px; 
    }














    #cl {
        flex-wrap: wrap;
        padding: 10px;
    }

    #op {
        margin-top: 20px;
        width: 34%;
    }
    #op > div div{
        margin: 30px;
    }

    #slider {
        height: 50vh; /* Ajusta la altura del slider */
        margin-top: 5%;
    }

    #slider .container img {
        object-fit: cover; /* Asegura que las imágenes cubran el espacio */
    }





    

    #camis {
        margin: 0 2rem;
        gap: 2rem;
    }

    .esc img {
        width: 40%;
    }

    .camiText {
        margin: 10px;
        flex-direction: column;
        align-items: center;
    }

    .camiText img {
        width: 80%;
        margin: 0 auto;
    }

    #formu form .rell {
        padding: 8px 12rem 8px 8px;
    }

    #formu .subm {
        padding: 8px 24px;
    }






    #merc {
        padding: 10px;
    }

    .trans {
        gap: 10px;
    }
    .transJug {
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
    }
    .transJug img {
        width: 30%;
        margin: 0 0 10px 0;
    }

    .rumores li {
        font-size: 14px;
    }
    .rumores span {
        font-size: 10px;
        padding: 2px 3px;
    }

    .tops {
        font-size: 14px;
    }






    footer > div {
        gap: 15px;
    }
    footer > div > div {
        padding: 10px 20px;
        align-items: center;
        text-align: center;
    }
    footer > div > div p {
        padding: 0;
    }
}






















/* ===== Responsive para 768px ===== */
@media (max-width: 768px) {
    header div {
        padding: 15px;
    }
    header div > ul {
        gap: 5px;
    }
    header div > ul li {
        font-size: 14px;
        padding: 5px 0;
    }



    #comentarios h1 {
        font-size: 28px; /* Reducir aún más el título */
    }

    .comen article {
        padding: 12px;
        border-width: 1px; /* Reducir el grosor del borde */
    }

    .comen article p {
        font-size: 14px; /* Reducir tamaño de texto */
    }

    .bot img {
        width: 16%; /* Reducir tamaño de los íconos */
    }

    #partidos {
        margin: 0 auto;
        padding: 0 10px;
    }

    .part {
        border-width: 1px; /* Reducir el grosor del borde */
        padding: 8px;
    }

    .part div {
        flex: 1 1 100%; /* Hacer cada equipo ocupar todo el ancho */
        text-align: center;
    }

    .part > p {
        margin: 10px 0;
    }




    #lig {
        width: 100%; /* Ocupa todo el ancho */
        gap: 10px;
    }

    details {
        margin-left: 10%;
        /* margin-bottom: 15px; */
        margin-right: 14%;
    }

    .tab {
        padding: 5px;
        text-align: left; /* Ajustamos alineación del texto */
    }

    #stats {
        max-width: 100%;
        margin-left: 18%;
    }

    .estadisticas {
        gap: 10px;
        flex-direction: column; /* Apilamos las tarjetas verticalmente */
        align-items: center; /* Centramos las tarjetas */
    }

    .jug {
        width: 90%; /* Hacemos las tarjetas más grandes */
    }

    #rank {
        max-width: 100%;
        padding: 21px;
        margin-left: 17%;
    }

    #rank h2 {
        font-size: 1.5rem; /* Reducimos aún más el tamaño del título */
    }

    #rank .table td, #rank .table th {
        font-size: 0.8rem; /* Reducimos el tamaño de las celdas */
        padding: 6px; /* Reducimos el espacio interno */
    }




    #cl {
        gap: 15px;
        padding: 10px;
    }

    #cInfo {
        width: 46%; /* Se adapta a pantallas pequeñas */
        padding: 15px;
        margin-top: 15px;
    }

    #cInfo div {
        flex-direction: column; /* Elementos apilados verticalmente */
        text-align: center;
    }

    #cInfo div img {
        margin-bottom: 10px; /* Espaciado para imagen */
    }

    #cInfo div p {
        font-size: 14px;
    }

    #op {
        width: 30%; /* Ocupa todo el ancho */
        margin-top: 15px;
    }
    #op > div  {
        gap: 12vh;
    }
    #op > div div {
        padding: 20px;
    }

    #slider {
        height: 40vh; /* Reduce la altura del slider */
        margin-top: 5%;
    }

    #slider .container img {
        object-fit: cover; /* Imagenes ajustadas al espacio */
    }



    
    #camis {
        margin: 0 1rem;
        gap: 6rem;
        flex-direction: column;
    }

    .esc img {
        width: 25%;
    }

    .mini {
        padding: 2%;
    }
    .mini p{
        font-size: 26px;
    }

    .camiText img {
        width: 52%;
    }

    .camiText h2 {
        display: none;
    }

    #formu {
        margin-top: 10%;
    }

    #formu form .rell {
        padding: 8px 8rem 8px 8px;
        font-size: 20px;
    }

    #formu .subm {
        font-size: 20px;
        padding: 8px 16px;
    }



    #merc {
        font-size: 18px;
    }

    .titulo {
        font-size: 18px;
        padding: 8px;
    }

    .transJug img {
        width: 40%;
    }
    .transInfo {
        font-size: 16px;
    }

    .rumores li {
        font-size: 12px;
    }

    .tops {
        font-size: 12px;
    }




    footer > div {
        gap: 10px;
    }
    footer > div > div {
        padding: 5px 10px;
    }
    footer > div > div p {
        font-size: 14px;
    }
}

